* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;

  -webkit-tap-highlight-color: transparent; /* mavi efekti kapatır */
}

body {
  width: 100vw;
  height: 100vh;
  background: #add8e6; /* açık mavi */
  overflow: hidden;
}

/* Blurlu katman */
.overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background: rgba(173, 216, 230, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: opacity 0.8s ease;
}

/* Yazı */
.text {
  text-align: center;
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  opacity: 0.8;
}

/* Yazı yavaşça gelsin */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

/* Sayfa giderken */
.overlay.fade-out {
  opacity: 0;
}