* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg,#fce7f3,#e0e7ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  text-align: center;
}

.img {
  width: 180px;
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  background: linear-gradient(135deg,#c084fc,#67e8f9);
  color: white;
  font-weight: bold;
}