body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#fce4ff,#e0f0ff);
  font-family:sans-serif;
}

.card{
  background:white;
  padding:30px;
  border-radius:25px;
  text-align:center;
  width:85%;
  max-width:380px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.gif{
  width:80%;
  border-radius:20px;
}

.buttons{
  margin-top:20px;
  position:relative;
  height:80px;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:20px;
  font-size:18px;
  cursor:pointer;
  transition:0.2s;
}

#yesBtn{
  background:#ff77b7;
  color:white;
  position:absolute;
  left:10%;
  bottom:0;
}

#noBtn{
  background:#aaa;
  color:white;
  position:absolute;
  right:10%;
  bottom:0;
}